    <div class="credits text-center">
        <p>
            <a>Project Kai</a>
        </p>
        <p>
            <a>Internal Source code sharing platform for Citi</a>
        </p>
    </div>
</body>
</html>